body {
	background-color: #ffffff;
	font-family: 'ubuntu', sans-serif;
}
/* ---> Logo styling <--- */

#logo img {
	width: 75px;
	left: 25px;
	top: 25px;
	position: relative;
}
/* ---> Intro section <--- */
#intro_wrap {
	position: relative;
	float: center;
	width: 95%;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	background-color: #ECF0F1;
	border-radius: 10px;
	padding: 100px;
	margin-top: 100px;
	display: block;
}
#start {
	background-color: #2C3E50;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 15px 50px 15px 40px;
	border-radius: 10px;
	float: center;
	border: none;
	width: 200px;
}
#intro_wrap h1 {
	color: #3498DB;
}
#intro_wrap h5 {
	color: #2C3E50;
}
/* ---> Questions Section <--- */
#question_wrap {
	display: none;
	position: relative;
	float: center;
	width: 95%;
	max-width: 50rem;
	text-align: center;
	margin: 0 auto;
	background-color: #ECF0F1;
	border-radius: 10px;
	padding: 50px;
	margin-top: 50px;
}
#question_text {
	font-size: 25px;
	color: #2C3E50;
}
#progress_section{
	color: #3498DB;
}
.answer_list li {
	display: inline-block;
}
.button:hover, #start:hover, #next:hover {
	cursor: pointer;
	background-color: #E74C3C;
}
#next {
	background-color: #2C3E50;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 15px 50px 15px 30px;
	border-radius: 10px;
	float: center;
	border: none;
	width: 200px;
}
.answer_list .selected {
	border: .5rem solid #E74C3C;
	border-radius: 10px;
}

.answer_list .unselected {
	border: .5rem solid #2C3E50;
	border-radius: 10px;
}

.answer_list .selected {
	cursor: pointer;
}

.answer_list .unselected:hover {
	border-color: #3498DB;
	cursor: pointer;
 }
 #answer_wrap {
	max-width: 50em;
	margin: 2rem auto 0 auto;
}

.answer_list li {
	display: inline-block;
	float: left;
	width: 10rem;
	height: 10rem;
	margin-right: 1.8em;
}
#answer_wrap img {
	height:128px;
	width:128px;
}
#next {
	margin-top: 6rem;
}
#recommendation_wrap {
	margin-top: 20
	display: none;
	text-align: center;
	height: 38rem;
	overflow: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	margin-top: 25px;
}
#rec_name {
	font-size: 10rem;
	opacity: .7;
	color: #ffffff;
	margin-top: 15rem;
}
#recommendation_wrap > h3 {
	color: #ffffff;
}
.Hawaii {
	background-image: url(../images/hawaii.png);
}
.Israel {
	background-image: url(../images/israel.png);
}
.Scandinavia {
	background-image: url(../images/scandinavia.png);
}
.Amsterdam {
	background-image: url(../images/amsterdam.png);
}
.Trinidad & Tobago' {
	background-image: url(../images/t&t.png);
}